@use "../mixins";
@use "../variables";

.first {
  margin: 0 auto;
  position: relative;
  background-image: url(../../images/intro-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 153px 0 165px;
  &__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #ffffff;
    max-width: 500px;
  }
  &__middle {
    display: flex;
    margin-left: -205px;
    align-items: center;
  }
  &__text {
    max-width: 405px;
    margin: 0 0 40px 95px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }

  &__next {
    margin-top: 133px;
    margin-left: 40px;
  }

  &__btn {
    margin-left: 95px;
    @include mixins.get-btn();
  }

  &__btn:hover {
    @include mixins.get-btn(
      $bg-color: variables.$white,
      $color: variables.$primary-yellow
    );
  }
  &__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }
}
